<html>
<body>
	<h2>All Accounts</h2>
 
	<ul>
    {% for current_account in all_accounts %}
        <li>{{ current_account.number|e }} {{ current_account.balance|e }}</li>
    {% endfor %}
	</ul>
</body>
</html>